.arkaplan{
		height:800px;
		width:100%;
		background-image: url(images/background.jpg);
		opacity: .9;
		padding:125px;
		padding-left:200px;
	}
	.sol{
		border:3px solid white;
		height:450px;
		width:375px;
		float:left;
		padding:25px;
		color:white;

	}
	.akis{
		display: none
	}
	.foto{
		background-image: url(images/logo.jpg);
		width:75%;
		height:225px;
		z-index: 2;
		margin:0 auto;
		border-radius: 50%;

	}
	.foto:hover{
		opacity: 0.9;
		cursor: pointer;
	}
	.akis p{
		font-size: 48px;
		font-family: Indie Flower;
		text-align: center;

	}
	.akis small{
		font-size:30px;
		text-align: center !important;
		font-family:Indie Flower;
	}
	.sag{
		display: none;
		float:right;
		height:450px;
		width:40%;
		padding:25px;
		color:white;
		font-family:Kalam;
		
	}